*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}
body{
    min-height:100vh;
    background:linear-gradient(
        135deg,
        #0f172a,
        #1e293b,
        #2563eb
    );
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}
.container{
    width:90%;
    max-width:900px;
    padding:40px;
    text-align:center;

    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,0.2);
    border-radius:20px;

    box-shadow:
    0 10px 40px rgba(0,0,0,.4);

    animation:fadeIn 1s ease;
}
h1{
    font-size:3rem;
    margin-bottom:20px;
}p{
    font-size:1.1rem;
    line-height:1.8;
    margin-bottom:30px;
}
.buttons{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:15px;
}
button{
    padding:15px 30px;
    border:none;
    border-radius:50px;
    cursor:pointer;
    font-size:1rem;
    color:white;

    background:linear-gradient(
    45deg,
    #06b6d4,
    #3b82f6
    );

    transition:.4s;
}

button:hover{
    transform:translateY(-5px) scale(1.05);
    box-shadow:0 10px 25px rgba(0,0,0,.3);
}
